{% if _ENV.mode == 'canvas' %}
<ul><li><a href="javascript:;">ページ名</a></li><li><a href="javascript:;">ページ名</a></li><li><a href="javascript:;">ページ名</a></li><li><a href="javascript:;">ページ名</a></li></ul>
{% endif %}
{% if _ENV.mode == 'finalize' %}
<?php
	$global_menu = $px->site()->get_global_menu();
	echo( '<ul>' );
	foreach( $global_menu as $page_id ){
		echo( '<li>'.$px->mk_link( $page_id ).'</li>' );
	}
	echo( '</ul>' );
?>
{% endif %}
