.px2-linklist{
	padding: 0;
	margin: 1em 0;
	position: relative;
	ul{
		padding: 0;
		margin: 0;
		border-bottom: 1px solid #ddd;
		li{
			list-style-type: none;
			border-top: 1px solid #ddd;
			padding: 0;
			margin: 0 2px;

			a {
				display: block;
				padding: 0.5em 1em;
				&:before {
					content:' ';
					width:0;
					height:0;
					display: inline-block;
					margin-right: 0.2em;
					border-width:0.35em 0 0.35em 0.6em;
					border-style:solid;
					border-color:#00a0e6;
					border-top-color:transparent;
					border-bottom-color:transparent;
				}
				&:hover{
					background-color: #f9f9f9;
				}
			}
			ul{
				border-bottom: none;
				li {
					border-top: 1px dashed #eee;
				}
				a {
					padding-left: 2em;
				}
			}
			ul ul a {
				padding-left: 3em;
			}
			ul ul ul a {
				padding-left: 4em;
			}
			ul ul ul ul a {
				padding-left: 5em;
			}
		}
	}
	&__description {
		font-size: 86%;
		color: #999;
		text-decoration: none;
	}
	a &__description {
		text-decoration: none;
	}
}

// 他のモジュールとの関係を解決
h1, .px2-h1,
h2, .px2-h2,
h3, .px2-h3,
h4, .px2-h4,
h5, .px2-h5,
h6, .px2-h6{
	.px2-linklist{
		padding: 0;
		margin: 0;
		> ul{
			padding: 0;
			margin: 0;
			border-bottom: none;
			> li{
				padding: 0;
				margin: 0;
				border-top: none;
				a{
					padding: 0.1em 0.5em;
				}
			}
		}
	}
}
.px2-linklist{
	ul.px2-horizontal-list,
	ul.px2-note-list{
		border-bottom: none;
		> li{
			border-top: none;
		}
	}
}