h1, .px2-h1,
h2, .px2-h2,
h3, .px2-h3,
h4, .px2-h4,
h5, .px2-h5,
h6, .px2-h6
{
	font-weight: bold;
	margin-top: 2em;
	margin-bottom: 0.5em;

	h1, .px2-h1,
	h2, .px2-h2,
	h3, .px2-h3,
	h4, .px2-h4,
	h5, .px2-h5,
	h6, .px2-h6,
	p {
		border: none;
		padding: 0;
		margin: 0;
	}
	small {
		display: inline-block;
		font-weight: normal;
		color: #6c757d;
		margin-left: 0.6em;
	}
}

.px2-h1 .px2-h1__shoulder,
.px2-h2 .px2-h2__shoulder,
.px2-h3 .px2-h3__shoulder,
.px2-h4 .px2-h4__shoulder,
.px2-h5 .px2-h5__shoulder,
.px2-h6 .px2-h6__shoulder
{
	float: right;
	margin-left: 1em;
	text-align: left;
	ul, p{
		margin: 0;
	}
	&::after{
		content: "";
		display: block;
		clear: both;
		height: 0;
	}
}
