@import "../../../env";

html, body{
	margin: 0;
	padding: 0;
	font-size: medium;
	font-family: Meiryo, "Hiragino Kaku Gothic ProN", Verdana, "Helvetica Neue", Helvetica, Arial, sans-serif;
	line-height: 1.43;
	color: #333;
	background-color: #eee;
}
.current{
	font-weight: bold;
}
img, svg, video{
	max-width:100%;
	height:auto;
}
pre{
	border: 1px solid #e1e1e8;
	background-color: #f7f7f9;
	border-radius: 4px;
	padding: 1em;
	code{
		border:none;
		padding:0;
		margin:0;
		display: inline;
	}
}
code{
	color: #d44950;
}
h1, h2, h3, h4, h5, h6 {
	font-family: inherit;
	font-weight: 500;
	color: inherit;
}
a{
	color: $keycolor;
	text-decoration: none;
}
a:hover, a:focus {
	text-decoration: underline;
	outline: none;
}
a:focus {
	outline: 5px auto;
	outline-offset: -2px;
}
p, ul, ol, dl{
	margin: 1em 0;
}
dl dd {
	margin-left: 2em;
}
p, li, dt, dd{
	line-height: 1.6;
}


/**
 * .anchor_links
 */
.anchor_links{
	margin:2em 7%;
}



/**
 * Layout
 */
.theme-layouts{
	background-color: #fff;
	padding:18px 15px;

	clear: both;
	&::after{
		content: " ";
		clear: both;
		float: none;
	}

	margin: 0 auto;
	width: auto;

	img{
		max-width: 100%;
	}

	// ベーススタイル
	&__header{
		border: 3px solid #930;
	}
	&__body{
		display: flex;
		max-width: 1024px;
		margin: 0 auto;
	}
	&__content{
		width: 100%;
	}
	&__lnavi{
		margin-right: 20px;
	}
	&__rnavi{
		margin-left: 20px;
	}
	&__footer{
		border: 3px solid #036;
	}

	// レイアウトごとの拡張
	&--fullcolumn{
		.theme-layouts__body{
			display: block;
		}
	}
	&--lnavi{
		.theme-layouts__content{
			width: 75%;
		}
		.theme-layouts__lnavi{
			width: 25%;
		}
	}
	&--rnavi{
		.theme-layouts__content{
			width: 75%;
		}
		.theme-layouts__rnavi{
			width: 25%;
		}
	}
	&--3columns{
		.theme-layouts__content{
			width: 60%;
		}
		.theme-layouts__lnavi{
			width: 20%;
		}
		.theme-layouts__rnavi{
			width: 20%;
		}
	}


	// レスポンシブ拡張
	@media all and (max-width:740px){
		.theme-layouts{
			&__body{
				display: block;
			}
			&__content,
			&__lnavi,
			&__rnavi{
				width: auto;
				margin-left: 0;
				margin-right: 0;
			}
		}
	}
}
