// Utilities

// Links
.px2-a {
	&:before {
		content:' ';
		width:0;
		height:0;
		display: inline-block;
		margin-right: 0.2em;
		border-width:0.35em 0 0.35em 0.6em;
		border-style:solid;
		border-color:#00a0e6;
		border-top-color:transparent;
		border-bottom-color:transparent;
	}
}

// codes
pre {
	padding: 1em;
	overflow: auto;
	code {
		display: inline;
		border: none;
		padding: 0;
		margin: 0;
	}
}
