$keycolor: #00a0e6;
$textcolor_on_keycolor: #eee;
$subcolor: #00a0e6;
$textcolor_on_subcolor: #eee;

:root {
    --theme-keycolor: #00a0e6;
    --theme-textcolor-on-keycolor: #eee;
    --theme-subcolor: #00a0e6;
    --theme-textcolor-on-subcolor: #eee;
}
