/* ライブラリ同士の衝突吸収 */
p, ul, ol, dl{
    margin: 1em 0;
}
dl dd {
    margin-left: 2em;
}
p, li, dt, dd{
    line-height: 1.6;
}
.btn{
    background-color:#428bca;
}
pre code{
    border:none;
    padding:0;
    margin:0;
    display:inline;
}
