@import "../../../env";

.theme-welcome{
	background:#fff;
	min-height:300px;
	text-align: center;
	padding:20px 1em 0;
}
.theme-welcome .theme-welcome__inner{
	width:auto;
	max-width:900px;
	margin:0 auto;
	padding:0;
}
.theme-welcome .theme-welcome__title{
	color: $keycolor;
	font-weight:bold;
	font-size:xx-large;
	margin:1em 0 0.5em 0;
}
.theme-welcome .theme-welcome__message{
	color: $keycolor;
	border:2px solid $keycolor;
	background-color: #fff;
	border-radius: 3px;
	padding:0.5em 1em;
	max-width:680px;
	margin:0 auto 10px auto;
}
.theme-welcome .theme-welcome__message *{
	margin-top:0;
	margin-bottom:0;
}
.theme-welcome .theme-welcome__message ul{
	text-align:left;
	word-break:break-all;
}
.theme-welcome .theme-welcome__image-everyone{
	text-align:center;
}
