@import "../../../env";

/**
 * Header
 */
.theme-header{
	background-color: $keycolor;
	padding:1em 15px 1px 15px;

	clear: both;
	&::after{
		display: block;
		content: " ";
		clear: both;
		float: none;
	}

	&__inner{
		margin: 0 auto;
		max-width: 1024px;

		clear: both;
		&::after{
			display: block;
			content: " ";
			clear: both;
			float: none;
		}
	}

	/**
	 * Site Identity
	 */
	&__si{
		float:left;
	}
	&__si,
	&__si *{
		font-size: xx-large;
		margin: 0;
		padding: 0;
		color: #fff;
		line-height: 1.3;
	}
	&__si *:hover{
		color: #eee;
	}
	&__si:before{
		content: url('data:image/svg+xml;base64,<?= base64_encode( $px->get_pickles_logo_svg() ) ?>');
		margin: 0 20px 0 0;
	}

	/**
	 * ショルダーメニュー
	 */
	&__shouldernavi{
		float:right;
		@media all and (max-width: 580px) {
			display:none;
		}
	}
	&__shouldernavi ul{
		margin:0; padding:0;
	}
	&__shouldernavi ul li{
		margin:0 1em; padding:0; list-style-type:none;
		display:inline-block;
	}
	&__shouldernavi ul li a{
		display:block;
		color:#fff;
	}


	/**
	 * グローバルメニュー
	 */
	&__globalnavi{
		clear:both;
	}
	&__globalnavi ul{
		margin:0; padding:0;
	}
	&__globalnavi ul li{
		margin:0.2em 1px 0 1px; padding:0; list-style-type:none;
		display:inline-block;
	}
	&__globalnavi ul li a{
		padding:0.5em 2em;
		display:block;
		background-color:#f5f5ff;
	}
	@media all and (max-width: 740px) {
		&__globalnavi{
			display:none;
		}
	}
}
