.px2-embedded-media{
	margin: 0 0 1em 0;

	&__image-media img{
		width: 100%;
		height: auto;
	}
	&__caption{
		font-size: 0.77em;
		margin-top: 0.5em;
		line-height: 1.3;
		color: #999;
		*{
			margin-top: 0;
			margin-bottom: 0;
		}
	}
	&--framed {
		box-sizing: border-box;
		border: 1px solid #bbb;
		padding: 5px;
		border-radius: 3px;
		background-color: #f9f9f9;
	}
}
