.px2-changelog{
	margin-top: 3em;
	margin-bottom: 3em;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	padding: 1rem 0;

	&__header {
		margin-bottom: 0.5em;
		*,
		.px2-h2, h2,
		.px2-h3, h3,
		.px2-h4, h4,
		.px2-h5, h5,
		.px2-h6, h6 {
			margin-top: 0;
			margin-bottom: 0;
		}
	}
	&__row{
		display: flex;
		margin-bottom: 0.5em;
	}
	&__date{
		font-weight: bold;
		padding-right: 1em;
		width: 10em;
		min-width: 10em;
		max-width: 10em;
		&::after {
			content: ":";
			margin: 0 0.5em;
		}
	}
	&__contents{
		width: 100%;
		box-sizing: border-box;
		>p,
		>ul,
		>ol{
			margin-top: 0;
			margin-bottom: 0;
		}
	}
	@media all and (max-width: 544px) {
		&__row{
			display: block;
		}
		&__date{
			width: auto;
			min-width: 0;
			max-width: auto;
			margin-top: 0.5em;
			margin-bottom: 0.5em;
		}
		&__contents{
			margin-top: 0.5em;
			margin-bottom: 0.5em;
			padding-left: 1em;
		}
	}
}
