.px2-accordion{
	margin-top: 1em;
	margin-bottom: 1em;
	> .px2-accordion__unit{
		border-top: 1px solid #dee2e6;
		border-left: 1px solid #dee2e6;
		border-right: 1px solid #dee2e6;
		&:last-child{
			border-bottom: 1px solid #dee2e6;
		}
		&:after{
			content: " ";
			display: block;
			visibility: hidden;
			height: 0.1px;
			font-size: 0.1em;
			line-height: 0;
			clear: both;
		}
		> .px2-accordion__label{
			text-align: left;
			a{
				display:block;
				padding: 0.3em 1em;
				background-color: #f9f9f9;
				&::before{
					content: ">";
					color: #999;
					text-decoration: none;
					margin-right: 1em;
					display: inline-block;
					transition: transform 0.1s ease-in;
					transform: rotate(0deg);
				}
			}
		}
		> .px2-accordion__content{
			margin: 1rem;
			display: none;
		}
	}
	> .px2-accordion--active > .px2-accordion__content{
		display: block;
	}
	> .px2-accordion--active > .px2-accordion__label a::before{
		transform: rotate(90deg);
	}
}
