<footer class="theme-footer">
	<div class="theme-footer__inner">
		<nav class="theme-footer__megafooter-navi">
{% if _ENV.mode == 'canvas' %}
<ul>
<li><a href="javascript:;">ページ名</a><ul>
<li><a href="javascript:;">ページ名</a></li>
<li><a href="javascript:;">ページ名</a></li>
<li><a href="javascript:;">ページ名</a></li>
<li><a href="javascript:;">ページ名</a></li>
<li><a href="javascript:;">ページ名</a></li>
</ul>
</li>
<li><a href="javascript:;">ページ名</a><ul>
<li><a href="javascript:;">ページ名</a></li>
<li><a href="javascript:;">ページ名</a></li>
<li><a href="javascript:;">ページ名</a></li>
<li><a href="javascript:;">ページ名</a></li>
<li><a href="javascript:;">ページ名</a></li>
<li><a href="javascript:;">ページ名</a></li>
</ul>
</li>
<li><a href="javascript:;">ページ名</a><ul>
<li><a href="javascript:;">ページ名</a></li>
<li><a href="javascript:;">ページ名</a></li>
<li><a href="javascript:;">ページ名</a></li>
<li><a href="javascript:;">ページ名</a></li>
<li><a href="javascript:;">ページ名</a></li>
<li><a href="javascript:;">ページ名</a></li>
</ul>
</li>
</ul>
{% endif %}
{% if _ENV.mode == 'finalize' %}
<?= $theme->mk_megafooter_menu() ?>
{% endif %}
		</nav>

		<div class="theme-footer__shouldernavi">
{% if _ENV.mode == 'canvas' %}
<ul><li><a href="javascript:;">ページ名</a></li><li><a href="javascript:;">ページ名</a></li></ul>
{% endif %}
{% if _ENV.mode == 'finalize' %}
<?php
	$shoulder_menu = $px->site()->get_shoulder_menu();
	echo( '<ul>' );
	echo( '<li>'.$px->mk_link( '', array('current'=>false) ).'</li>' );
	foreach( $shoulder_menu as $page_id ){
		echo( '<li>'.$px->mk_link( $page_id ).'</li>' );
	}
	echo( '</ul>' );
?>
{% endif %}
		</div>
{% if content %}
{{ content }}
{% endif %}
	</div>
</footer>
