/**
 * ナビゲーション
 */
.theme-common-navi{
	margin-bottom:0.7em;
}
.theme-common-navi a{
	display: block;
	padding:10px;
	background-color: #eee;
}
.theme-common-navi p{
	text-align:center;
	margin:1px 0; padding:0;
}
.theme-common-navi ul{
	display:block;
	margin:0; padding:0;
}
.theme-common-navi ul li{
	display:block;
	margin:1px 0; padding:0;
	list-style-type:none;
}
.theme-common-navi ul ul a{
	padding-left: 25px;
	background-color: #f5f5f5;
	font-size:small;
}
.theme-common-navi ul ul ul a{
	padding-left: 40px;
	background-color: #fefefe;
	font-size:small;
}
