.px2-tabs{
	margin-top: 1em;
	margin-bottom: 1em;

	&__tabs{
		display: flex;
		flex-wrap: wrap;
		border-bottom: 1px solid #dee2e6;
		text-align: left;
		div{
			display: block;
			width: auto;
			height: 100%;
			margin-bottom: -1px;
			margin-right: 2px;
			box-sizing: border-box;
		}
		a{
			display: block;
			width: auto;
			height: 100%;
			border: 1px solid transparent;
			border-top-left-radius: 0.3em;
			border-top-right-radius: 0.3em;
			padding: 0.5em 1em;

			&.px2-tabs--active{
				color: #666;
				text-decoration: none;
				background-color: #fff;
				border-color: #dee2e6 #dee2e6 #fff;
				&:hover{
					border-bottom-color: #fff;
				}
			}
			&:hover{
				border-color: #dee2e6;
			}
		}
	}
	&__contents{
		border: 1px solid #dee2e6;
		border-top: none;
		padding: 1rem;
		background-color: #fff;
	}
	&__content{
		display: none;
		&.px2-tabs--active{
			display: block;
		}
	}
}
