// Links
.px2-a {
	&:before {
		content:' ';
		width:0;
		height:0;
		display: inline-block;
		margin-right: 0.2em;
		border-width:0.35em 0 0.35em 0.6em;
		border-style:solid;
		border-color:#00a0e6;
		border-top-color:transparent;
		border-bottom-color:transparent;
	}
	&--block {
		display: block;
		width: 100%;
	}
}
.px2-open-in-new-window{
	&:after {
		content: '';
		background-image: url("resources/link.png");
		width: 0.8em;
		height: 0.8em;
		display: inline-block;
		background-size: contain;
		background-repeat: no-repeat;
		margin-left: 0.3em;
	}
}
