/**
 * module: themeEditorModules:layouts/footer
 */
/**
 * Footer
 */
.theme-footer {
  padding: 1em 0 0.5em 0;
  clear: both;
  /**
   * メガフッターメニュー
   */
  /**
   * ショルダーメニュー(フッター)
   */ }
  .theme-footer::after {
    display: block;
    content: " ";
    clear: both;
    float: none; }
  .theme-footer__inner {
    margin: 0 auto;
    max-width: 1024px;
    clear: both; }
    .theme-footer__inner::after {
      display: block;
      content: " ";
      clear: both;
      float: none; }
  .theme-footer__megafooter-navi {
    margin: 0 auto 1em auto;
    zoom: 1; }
  .theme-footer__megafooter-navi:after {
    content: " ";
    display: block;
    visibility: hidden;
    height: 0.1px;
    font-size: 0.1em;
    line-height: 0;
    clear: both; }
  .theme-footer__megafooter-navi ul {
    margin: 0;
    padding: 0; }
  .theme-footer__megafooter-navi ul li {
    margin: 0 1px;
    padding: 0;
    list-style-type: none;
    float: left;
    display: block; }
  .theme-footer__megafooter-navi ul li ul li {
    display: block;
    float: none;
    font-size: 80%; }
  .theme-footer__megafooter-navi ul li a {
    padding: 0.5em 2em;
    display: block;
    font-weight: bold; }
  .theme-footer__megafooter-navi ul li ul li a {
    padding-left: 4em;
    font-weight: normal; }
  .theme-footer__shouldernavi ul {
    margin: 0.5em;
    padding: 0;
    text-align: center; }
    .theme-footer__shouldernavi ul li {
      margin: 0 1em;
      padding: 0;
      list-style-type: none;
      display: inline; }

/**
 * module: themeEditorModules:layouts/fullcolumn
 */
html, body {
  margin: 0;
  padding: 0;
  font-size: medium;
  font-family: Meiryo, "Hiragino Kaku Gothic ProN", Verdana, "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.43;
  color: #333;
  background-color: #eee; }

.current {
  font-weight: bold; }

img, svg, video {
  max-width: 100%;
  height: auto; }

pre {
  border: 1px solid #e1e1e8;
  background-color: #f7f7f9;
  border-radius: 4px;
  padding: 1em; }
  pre code {
    border: none;
    padding: 0;
    margin: 0;
    display: inline; }

code {
  color: #d44950; }

h1, h2, h3, h4, h5, h6 {
  font-family: inherit;
  font-weight: 500;
  color: inherit; }

a {
  color: #00a0e6;
  text-decoration: none; }

a:hover, a:focus {
  text-decoration: underline;
  outline: none; }

a:focus {
  outline: 5px auto;
  outline-offset: -2px; }

p, ul, ol, dl {
  margin: 1em 0; }

dl dd {
  margin-left: 2em; }

p, li, dt, dd {
  line-height: 1.6; }
/**
 * .anchor_links
 */
.anchor_links {
  margin: 2em 7%; }
/**
 * Layout
 */
.theme-layouts {
  background-color: #fff;
  padding: 18px 15px;
  clear: both;
  margin: 0 auto;
  width: auto; }
  .theme-layouts::after {
    content: " ";
    clear: both;
    float: none; }
  .theme-layouts img {
    max-width: 100%; }
  .theme-layouts__header {
    border: 3px solid #930; }
  .theme-layouts__body {
    display: flex;
    max-width: 1024px;
    margin: 0 auto; }
  .theme-layouts__content {
    width: 100%; }
  .theme-layouts__lnavi {
    margin-right: 20px; }
  .theme-layouts__rnavi {
    margin-left: 20px; }
  .theme-layouts__footer {
    border: 3px solid #036; }
  .theme-layouts--fullcolumn .theme-layouts__body {
    display: block; }
  .theme-layouts--lnavi .theme-layouts__content {
    width: 75%; }
    .theme-layouts--lnavi .theme-layouts__lnavi {
      width: 25%; }
  .theme-layouts--rnavi .theme-layouts__content {
    width: 75%; }
    .theme-layouts--rnavi .theme-layouts__rnavi {
      width: 25%; }
  .theme-layouts--3columns .theme-layouts__content {
    width: 60%; }
    .theme-layouts--3columns .theme-layouts__lnavi {
      width: 20%; }
    .theme-layouts--3columns .theme-layouts__rnavi {
      width: 20%; }
  @media all and (max-width: 740px) {
  .theme-layouts .theme-layouts__body {
    display: block; }
    .theme-layouts .theme-layouts__content, .theme-layouts .theme-layouts__lnavi, .theme-layouts .theme-layouts__rnavi {
      width: auto;
      margin-left: 0;
      margin-right: 0; } }

/**
 * module: themeEditorModules:layouts/header
 */
/**
 * Header
 */
.theme-header {
  background-color: #00a0e6;
  padding: 1em 15px 1px 15px;
  clear: both;
  /**
   * Site Identity
   */
  /**
   * ショルダーメニュー
   */
  /**
   * グローバルメニュー
   */ }
  .theme-header::after {
    display: block;
    content: " ";
    clear: both;
    float: none; }
  .theme-header__inner {
    margin: 0 auto;
    max-width: 1024px;
    clear: both; }
    .theme-header__inner::after {
      display: block;
      content: " ";
      clear: both;
      float: none; }
  .theme-header__si {
    float: left; }
  .theme-header__si, .theme-header__si * {
    font-size: xx-large;
    margin: 0;
    padding: 0;
    color: #fff;
    line-height: 1.3; }
  .theme-header__si *:hover {
    color: #eee; }
  .theme-header__si:before {
    content: url("'data:image/svg+xml;base64,<") ) ?>');
    margin: 0 20px 0 0; }
  .theme-header__shouldernavi {
    float: right; }
    @media all and (max-width: 580px) {
  .theme-header__shouldernavi {
    display: none; } }
  .theme-header__shouldernavi ul {
    margin: 0;
    padding: 0; }
  .theme-header__shouldernavi ul li {
    margin: 0 1em;
    padding: 0;
    list-style-type: none;
    display: inline-block; }
  .theme-header__shouldernavi ul li a {
    display: block;
    color: #fff; }
  .theme-header__globalnavi {
    clear: both; }
  .theme-header__globalnavi ul {
    margin: 0;
    padding: 0; }
  .theme-header__globalnavi ul li {
    margin: 0.2em 1px 0 1px;
    padding: 0;
    list-style-type: none;
    display: inline-block; }
  .theme-header__globalnavi ul li a {
    padding: 0.5em 2em;
    display: block;
    background-color: #f5f5ff; }
  @media all and (max-width: 740px) {
  .theme-header__globalnavi {
    display: none; } }

/**
 * module: themeEditorModules:layouts/welcome
 */
.theme-welcome {
  background: #fff;
  min-height: 300px;
  text-align: center;
  padding: 20px 1em 0; }

.theme-welcome .theme-welcome__inner {
  width: auto;
  max-width: 900px;
  margin: 0 auto;
  padding: 0; }

.theme-welcome .theme-welcome__title {
  color: #00a0e6;
  font-weight: bold;
  font-size: xx-large;
  margin: 1em 0 0.5em 0; }

.theme-welcome .theme-welcome__message {
  color: #00a0e6;
  border: 2px solid #00a0e6;
  background-color: #fff;
  border-radius: 3px;
  padding: 0.5em 1em;
  max-width: 680px;
  margin: 0 auto 10px auto; }

.theme-welcome .theme-welcome__message * {
  margin-top: 0;
  margin-bottom: 0; }

.theme-welcome .theme-welcome__message ul {
  text-align: left;
  word-break: break-all; }

.theme-welcome .theme-welcome__image-everyone {
  text-align: center; }

/**
 * module: themeEditorModules:vars/bowl
 */
/**
 * コンテンツエリア
 */
.contents {
  margin-bottom: 3em; }

/**
 * module: themeEditorModules:vars/breadcrumb
 */
/**
 * パンくず
 */
.theme-breadcrumb {
  margin: 0 0; }
  .theme-breadcrumb ul, .theme-breadcrumb ul li {
    margin: 0;
    padding: 0 0.3em 0 0;
    display: inline;
    font-size: small;
    list-style-type: none; }
  .theme-breadcrumb ul li:after {
    content: ' > ';
    margin: 0 0.3em; }
  .theme-breadcrumb ul li:last-child:after {
    content: '';
    margin: 0; }
  .theme-breadcrumb ul li span {
    font-weight: bold; }

/**
 * module: themeEditorModules:vars/localnavigation
 */
/**
 * ナビゲーション
 */
.theme-common-navi {
  margin-bottom: 0.7em; }

.theme-common-navi a {
  display: block;
  padding: 10px;
  background-color: #eee; }

.theme-common-navi p {
  text-align: center;
  margin: 1px 0;
  padding: 0; }

.theme-common-navi ul {
  display: block;
  margin: 0;
  padding: 0; }

.theme-common-navi ul li {
  display: block;
  margin: 1px 0;
  padding: 0;
  list-style-type: none; }

.theme-common-navi ul ul a {
  padding-left: 25px;
  background-color: #f5f5f5;
  font-size: small; }

.theme-common-navi ul ul ul a {
  padding-left: 40px;
  background-color: #fefefe;
  font-size: small; }
