<figure class="px2-embedded-media">
	<div class="px2-embedded-media__common-html">{% if html|length %}{{ html }}{% endif %}</div>
	{% if caption %}
	<figcaption class="px2-embedded-media__caption">{{ caption }}</figcaption>
	{% endif %}
</figure>
