dl.notes {
  padding: 0 0 0 0;
  margin: 1em 0;

  dt.notes-dt {
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    float: left;
    clear: left;
    border: 0 none;
    font-weight: normal;
  }
  dd.notes-dd {
    padding: 0 0 0 5px;
    margin: 0 0 0 0;
    float: none;
    font-weight: normal;
    display: block;
    overflow: hidden;
    zoom: 100%;
  }
}
